<article>
  {% if post.sound %}
{% soundcloud 'post.sound.type' 'post.sound.id' %}

  {% elsif post.video %}
  <p>
  {% vimeo 'post.video.id' %}
  </p>
   <a class="venobox" data-gall="myGallery" data-type="vimeo" href="http://vimeo.com/{{ post.video.id }}"></a>

{% elsif post.image %}
<a class="venobox" data-gall="myGallery" href="{% flickr_photo_url 'post.image.id' 'Original' %}" >
<img src="{% flickr_photo_url 'post.image.id' 'Large' %}" alt="teaser" itemprop="image"></a>
  {% endif %}

{% if post.show_url %}
  <i><a href="{{ post.url }}">
  {{ post.excerpt }}</a></i>
{% endif %}
</article><!-- /.tile -->
